.App {
  text-align: left;
  color: white;
}

.App-header {
  /*min-height: 100vh;*/
  /*display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);*/
}

body {
    margin: 0;
    padding: 0;
}

html {
  min-height: 100vh;
  background-color: #282c34;
}

